*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

.btn {
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 22px;
    margin: 0px 15px 24px 15px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 890px) {
    .btn {
        font-size: 20px;
    }
}

@media (max-width: 645px) {
    .btn {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 16px;
    }
}

.btn.primary {
    background-color: #F89D24;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #FFF;
}

.btn.secondary {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
}

.btn.white {
    background-color: #FFFFFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #000;
}

.hero-section {
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-header .logo {
    margin-left: 3.15%;
    margin-top: 2%;
    width: 12.1%;
    max-width: 100px;
}

.hero-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 1240px) {
    .hero-container {
        width: 60%;
    }
}

@media (max-width: 1028px) {
    .hero-container {
        width: 70%;
    }
}

@media (max-width: 890px) {
    .hero-container {
        width: 80%;
    }
}

.hero-title, .hero-text {
    color: #FFFFFF;
    text-align: center;
}

.hero-title {
    font-size: 54px;
    /* margin-top: 15.5vh; */
    text-transform: capitalize;
}

@media (max-width: 890px) {
    .hero-title {
        /* margin-top: 14%; */
        font-size: 45px;
    }
}

@media (max-width: 645px) {
    .hero-title {
        /* margin-top: 8%; */
        font-size: 40.5px;
    }
}

.hero-text {
    color: #B5B5B5;
    font-size: 18px;
    width: 60%;
    margin-top: 1.8vh;
    line-height: 30px;
    align-self: center;
    margin-bottom: 35px;
}

@media (max-width: 1024px) {
    .hero-text {
        width: 80%;
    }
}

@media (max-width: 890px) {
    .hero-text {
        
        font-size: 15px;
        width: 50%;
    }
}

@media (max-width: 645px) {
    .hero-text {
        
        font-size: 13.5px;
        width: 80%;
    }
}

@media (max-width: 500px) {
    .hero-text {
        /* margin-top: 5%; */
        width: 100%;
    }
}

.hero-btn-group {
    margin-bottom: 22.5vh;
    text-align: center;
}

@media (max-width: 450px) {
    .hero-btn-group {
        margin-bottom: 33px;
    }
}

.course-summary {
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
    padding-top: 18.6vh;
    margin-top: -1px;
}

@media (max-width: 450px) {
    .course-summary {
        padding-top: 6.5vh;
    }
}

.course-summary .container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.course-summary .col {
    display: flex;
}

.course-summary .col.m {
    display: flex;
    flex-direction: column;
}

.course-summary .col.l {
    margin-left: 5vw;
}

.course-summary .col .rectangule {
    position: absolute;
    margin-top: -18.5vh;
    margin-left: -5.5vw;
    border: 1px solid #FEC024;
    border-top: none;
    width: 206px;
    height: 206px;
}

.course-summary .col .title {
    font-size: 64px;
    color: #FFFFFF;
    margin-top: -2vh;
}

@media (max-width: 450px) {
    .course-summary .col .rectangule {
        margin-top: -6.5vh;
        margin-left: 3.8vw;
        width: 110px;
        height: 110px;
    }

    .course-summary .col .title {
        font-size: 48px;
        margin-left: 24px;
        margin-top: 1vh;
    }
}

.course-summary .col .text {
    font-size: 18px;
    color: #B5B5B5;
    font-weight: 300;
    max-width: 337px;
    margin-top: 2.6vh;
}

@media (max-width: 450px) {
    .course-summary .col .text {
        font-size: 13.5px;
        max-width: 85%;
        line-height: 25px;
        align-self: center;
    }
}

.course-summary .col .btn-group {
    margin-top: 11vh;   
    margin-left: -15px;
}

.course-summary .btn-group.mobile {
    display: none;
    margin-top: 36px;
}

@media (max-width: 450px) {
    .course-summary .col .btn-group {
        display: none;
    }

    .course-summary .btn-group.mobile {
        display: inherit;
    }
}

.course-summary .col .btn-group .btn {
    font-size: 16px;
}

.course-summary .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 3vh;
}

@media(max-width: 650px) {
    .course-summary .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-left: -25px;
    }
}

@media(max-width: 450px) {
    .course-summary .card-container {
        margin-top: 50px;
    }
}

@media(max-width: 300px) {
    .course-summary .card-container {
        margin-left: -10px;
    }
}

.course-summary .card-item {
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    max-width: 253px;
}

.course-summary .card-item .container {
    text-align: center;
    margin: 24px;
    padding: 0;
}

.course-summary .card-item .card-description {
    text-align: left;
}

.course-summary .card-item .card-title {
    font-size: 14px;
    color: #F89D24;
    text-transform: uppercase;
    margin-top: 3.5vh;
}

.course-summary .card-item .card-text {
    font-size: 16px;
    color: #B5B5B5;
}

.take-course {
    background-color: #191919;
    background-image: url('../images/Grupo\ 34.svg');
    height: 400px;
    margin-top: -1px;
}

.take-course .container{
    background-color: rgba(20,20,20,0.7);
}

.take-course .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    flex-wrap: wrap;
}

.take-course .container .text {
    font-size: 54px;
    color: #FFFFFF;
    text-align: center;
    width: 60%;
    text-transform: capitalize;
}

@media(max-width: 800px) {
    .take-course .container .text {
        font-size: 48px;
    }
}

@media(max-width: 650px) {
    .take-course .container .text {
        font-size: 40.5px;
    }
}

@media(max-width: 536px) {
    .take-course .container .text {
        width: 85%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

.take-course .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F89D24;
    width: 40%;
    min-width: 215px;
    padding-top: 53px;
    padding-bottom: 75px;
}

@media(max-width: 536px) {
    .take-course .container .card  {
        width: 100%;
    }
}

.take-course .container .card .btn {
    margin: 0;
    margin-top: 29px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 16px;
    color: #F89D24;
}

.take-course .container .card .text {
    font-weight: normal;
    font-size: 64px;
}

@media(max-width: 800px) {
    .take-course .container .card .text {
        font-size: 54px;
    }
}

@media(max-width: 650px) {
    .take-course .container .card .text {
        font-size: 48px;
    }
}

.course-skills {
    background-image: url('../images/teacher\ bnw.png');   
    background-attachment: fixed;
    background-size: cover;
}

.course-skills .container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 16.5vh 10vw;
    justify-content: center;
}

.course-skills .container .menu {
    background-color: #686868;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: end;
    padding: 36px 70px;
}

.course-skills .container .items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.course-skills .container .item {
    font-size: 32px;
    font-weight: 100;
    color: #FFFFFF;
}

@media (max-width: 900px){
    .course-skills .container .item {
        font-size: 22px;
    }
}

.course-skills .container .item.active {
    font-weight: normal;
}

.course-skills .container .bar.active {
    width: 150%;
    height: 1px;
    background-color: #F89D24;
}

.course-skills .container .bar.disabled {
    display: none;
}

.course-skills .container .description {
    background-color: #262626;
    flex: 1 1 100%;
    padding: 9.5vh 9vw;
    max-width: 1000px;
}

@media (max-width: 900px){
    .course-skills .container .description {
        padding: 4.5vh 4.5vw;
    }
}

.course-skills .container .description .text {
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

.course-skills .container .description .btn-group {
    text-align: right;
}

.course-skills .container .description .btn-group .btn {
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0px 30px;
    margin-right: 0px;
}

@media (max-width: 900px){
    .course-skills .container .description .btn-group .btn {
        margin: 10px 15px;
    }
}

.course-skills .container .description .btn-group .btn.btn.secondary {
    color: #F89D24;
} 

.course-skills .container-mobile {
    display: none;
}

@media (max-width: 650px){
    .course-skills .container.desktop {
        display: none;
    }

    .course-skills .container-mobile {
        display: inherit;
    }
}

.course-skills .container-mobile {
    padding-top: 0px;
}

@media (max-width: 536px){
    .course-skills .container-mobile  {
        padding-top: 250px;
    }
}

@media (max-width: 280px){
    .course-skills .container-mobile  {
        padding-top: 400px;
    }
}

.course-skills .container-mobile .title {
    font-size: 48px;
    color: #FFF;
    margin-left: 24px;
    padding-top: 42px;
    margin-bottom: 32px;
}

.accordion{
	transform: translateZ(0);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #686868;
    width: 90%;
    margin: auto;
    color: #FFFFFF;
}

.accordion > .accordion-toggle{
	position: absolute;
	opacity: 0;
	display: none;
}

.accordion > label{
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 700;
	background: #686868;
	cursor: pointer;
}

.accordion > label:after {
    content: '\f078';
    position: absolute;
    top: 0px;
    right: 20px;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: bold;
    transform: rotate(180deg);
    transition: .3s transform;
}

.accordion > section{
	height: 0;
	transition: .3s all;
	overflow: hidden;
    background-color: #262626;
}

.accordion > .accordion-toggle ~ label {
    font-weight: 300;
}

.accordion > .accordion-toggle:checked ~ label {
    font-weight: bold;
}

.accordion > .accordion-toggle:checked ~ label:after{
    transform: rotate(0deg);
}

.accordion > .accordion-toggle:checked ~ section {
    height: auto;
}

.accordion > section p {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    border-top: 1px solid #F89D24;
    border-bottom: 1px solid #F89D24;
}

.course-skills .container-mobile .btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
}

.course-skills .container-mobile .btn-group .btn {
    max-width: 200px;
}

.our-teachers{
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
    padding-top: 18.6vh;
    margin-top: -1px;
}

@media (max-width: 450px) {
    .our-teachers {
        padding-top: 6.5vh;
    }
}

.our-teachers .container {
    position: relative;
    margin: auto;
}

.our-teachers .header {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
}

.our-teachers .header .rectangule {
    position: absolute;
    margin-top: -18.5vh;
    margin-left: -5.5vw;
    border: 1px solid #FEC024;
    border-top: none;
    width: 206px;
    height: 206px;
}

.our-teachers .header .title {
    font-size: 64px;
    color: #FFFFFF;
    margin-top: -2vh;
}

@media (max-width: 450px) {
    .our-teachers .header {
        margin-left: 3vw;
    }

    .our-teachers .header .rectangule {
        margin-top: -6.5vh;
        margin-left: 3.8vw;
        width: 110px;
        height: 110px;
    }

    .our-teachers .header .title {
        font-size: 48px;
        margin-left: 24px;
        margin-top: 1vh;
    }
}

.our-teachers .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.our-teachers .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media(max-width: 1150px) {
    .our-teachers .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media(max-width: 770px) {
    .our-teachers .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media(max-width: 450px) {
    .our-teachers .card-image img {
        width: 100%;
    }

    .our-teachers .card-container {
        margin-top: 50px;
    }
}

.our-teachers  .card-item {
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    max-width: 363px;
}

.our-teachers .card-item .container {
    text-align: center;
    margin: 24px;
    padding: 0;
}

.our-teachers  .card-item .card-description {
    text-align: left;
}

.our-teachers .card-item .card-title {
    font-size: 14px;
    color: #F89D24;
    text-transform: uppercase;
    margin-top: 3.5vh;
}

.our-teachers .card-item .card-text {
    font-size: 16px;
    color: #B5B5B5;
    line-height: 2;
}

.our-teachers .btn-group {
    display: flex;
    flex-direction: row;
    margin-top: 78px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 123px;
}

@media (max-width: 770px) {
    .our-teachers .btn-group {
        margin-top: 48px;
        flex-direction: column;
    }
}

.opinions {
    background-attachment: fixed;
    background-size: cover;

}

.opinions .carousel-wrapper {
    width: 100%;
}

.opinions .carousel-wrapper .items {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.opinions .carousel-wrapper .items::-webkit-scrollbar {
    display: none;
}

.opinions .carousel-wrapper .carousel-item {
    flex: none;
    scroll-snap-align: start;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-position: center;
}

.opinions .carousel-wrapper .items .image {
    width: 100%;
    height: 100%;
}

.opinions .carousel-wrapper .carousel-item .item-container {
    position: relative;
    margin: auto;
    padding: 20vh 0;
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 510px) {
    .opinions .carousel-wrapper .carousel-item .item-container {
        height: 100%;
        width: 80%;
        min-height: auto;
    }
}

.opinions .carousel-wrapper .item-container .text {
    font-size: 54px;
    color: #FFF;
    text-align: center;
}

@media (max-width: 510px) {
    .opinions .carousel-wrapper .item-container .text {
        font-size: 40.5px;
    }
}

.opinions .carousel-wrapper .item-container .credits {
    font-size: 24px;
    color: #F89D24;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 3.43px;
}

@media (max-width: 510px) {
    .opinions .carousel-wrapper .item-container .credits {
        font-size: 18px;
        text-align: center;
        margin-top: 24px;
    }
}

.opinions .carousel-wrapper .carousel-controls {
    position: absolute;
    height: 100vh;
    margin: 0 7.5vw;
    width: 85vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.opinions .carousel-wrapper .carousel-controls i {
    font-size: 34px;
    color: #686868;
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width: 510px) {
    .opinions .carousel-wrapper .carousel-controls i {
        display: none;
    }
}

.course-methodologies {
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
    padding-top: 18.6vh;
    margin-top: -1px;
}

@media (max-width: 450px) {
    .course-methodologies {
        padding-top: 6.5vh;
    }
}

.course-methodologies .container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.course-methodologies .col {
    display: flex;
}

.course-methodologies .col.m {
    display: flex;
    flex-direction: column;
}

.course-methodologies .col.l {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    max-width: 35%;
    align-self: center;
}

@media (max-width: 650px) {
    .course-methodologies .col.l {
        max-width: 337px;
        margin-top: 50px;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .course-methodologies .col.l {
        max-width: 85%;
    }
}

.course-methodologies .col .rectangule {
    position: absolute;
    margin-top: -18.5vh;
    margin-left: -5.5vw;
    border: 1px solid #FEC024;
    border-top: none;
    width: 206px;
    height: 206px;
}

.course-methodologies .col .title {
    font-size: 64px;
    color: #FFFFFF;
    margin-top: -2vh;
}

@media (max-width: 450px) {
    .course-methodologies .col .rectangule {
        margin-top: -6.5vh;
        margin-left: 3.8vw;
        width: 110px;
        height: 110px;
    }

    .course-methodologies .col .title {
        font-size: 48px;
        margin-left: 24px;
        margin-top: 1vh;
    }
}

.course-methodologies .col .text {
    font-size: 18px;
    color: #B5B5B5;
    font-weight: 300;
    max-width: 337px;
    margin-top: 2.6vh;
}

@media (max-width: 450px) {
    .course-methodologies .col .text {
        font-size: 13.5px;
        max-width: 85%;
        line-height: 25px;
        align-self: center;
    }
}

.course-methodologies .col .btn-group {
    margin-top: 11vh;   
    margin-left: -15px;
    margin-bottom: 136px;
}

.course-methodologies .btn-group.mobile {
    display: none;
    margin-top: 36px;
    margin-bottom: 36px;
}

@media (max-width: 450px) {
    .course-methodologies .col .btn-group {
        display: none;
    }

    .course-methodologies .btn-group.mobile {
        display: inherit;
    }
}

.course-methodologies .col .btn-group .btn {
    font-size: 16px;
}

.course-methodologies .col.l .title {
    color: #F89D24;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.course-methodologies .col.l .description {
    color: #B5B5B5;
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 7px;
    margin-bottom: 32px;
}

.divider {
    background-color: #000;
    width: 100%;
    height: 30px;
}

.divider:nth-last-of-type(1) {
    background-color: #1A1A1A;
}

.iam-fit {
    background: rgb(26,26,26);
    background-color: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    background-image: url('../images/negociando@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 18.6vh;
    margin-top: -1px;
}

@media (max-width: 450px) {
    .iam-fit {
        padding-top: 6.5vh;
    }
}

.iam-fit .container {
    position: relative;
    margin: auto;
    display: flex;
    width: 80%;
    justify-content: right;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .iam-fit .container {
        width: 95%;
        justify-content: center;
    }
}

.iam-fit .col {
    display: flex;
}

.iam-fit .col.m {
    display: flex;
    flex-direction: column;
}

.iam-fit .col.l {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    max-width: 35%;
    align-self: center;
}

@media (max-width: 650px) {
    .iam-fit .col.l {
        max-width: 337px;
        margin-top: 50px;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .iam-fit .col.l {
        max-width: 85%;
    }
}

.iam-fit .col .rectangule {
    position: absolute;
    margin-top: -18.5vh;
    margin-left: 15.5vw;
    border: 1px solid #FEC024;
    border-top: none;
    width: 206px;
    height: 206px;
}

.iam-fit .col .title {
    font-size: 64px;
    color: #FFFFFF;
    margin-top: 2vh;
}

@media (max-width: 450px) {
    .iam-fit .col .rectangule {
        margin-top: -6.5vh;
        margin-left: 3.8vw;
        width: 110px;
        height: 110px;
    }

    .iam-fit .col .title {
        font-size: 48px;
        margin-left: 24px;
        margin-top: 1vh;
    }
}

.iam-fit .col .text {
    font-size: 18px;
    color: #B5B5B5;
    font-weight: 300;
    max-width: 337px;
    margin-top: 2.6vh;
}

@media (max-width: 450px) {
    .iam-fit .col .text {
        font-size: 13.5px;
        max-width: 85%;
        line-height: 25px;
        align-self: center;
    }
}

.iam-fit .col .btn-group {
    margin-top: 11vh;   
    margin-left: -15px;
    margin-bottom: 136px;
}

.iam-fit .btn-group.mobile {
    display: none;
    margin-top: 36px;
    margin-bottom: 36px;
}

@media (max-width: 500px) {
    .iam-fit .col .btn-group {
        display: none;
    }

    .iam-fit .btn-group.mobile {
        display: inherit;
    }
}

.iam-fit .col .btn-group .btn {
    font-size: 16px;
}

.footer {
    background-color: #000000;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #B5B5B5;
    width: 90%;
    margin: auto;
    padding-top: 36px;
    padding-bottom: 127px;
}

.footer .container .text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 38px;
}

@media (max-width: 780px) {
    .footer .container {
        flex-direction: column;
        grid-row-gap: 44px;
        text-align: center;
    }

    .footer .container .text {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
    }
}

.modal {
    position: fixed;
    top: 0;
}

.modal .modal-container {
    background-color: #232323;
    min-width: 80vw;
    position: relative;
    margin: auto;
    left: 10%;
}