* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

.btn {
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 22px;
    margin: 0px 15px 24px 15px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 890px) {
    .btn {
        font-size: 20px;
    }
}

@media (max-width: 645px) {
    .btn {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 16px;
    }
}

.btn.primary {
    background-color: #F89D24;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #FFF;
}

.btn.secondary {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
}

.btn.white {
    background-color: #FFFFFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #000;
}

.hero-section {
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-header .logo {
    margin-left: 3.15%;
    margin-top: 2%;
    width: 12.1%;
    max-width: 100px;
}

.hero-container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 1240px) {
    .hero-container {
        width: 60%;
    }
}

@media (max-width: 1028px) {
    .hero-container {
        width: 70%;
    }
}

@media (max-width: 890px) {
    .hero-container {
        width: 80%;
    }
}

.hero-title, .hero-text {
    color: #FFFFFF;
    text-align: center;
}

.hero-title {
    font-size: 54px;
    /* margin-top: 15.5vh; */
    text-transform: capitalize;
}

@media (max-width: 890px) {
    .hero-title {
        /* margin-top: 14%; */
        font-size: 45px;
    }
}

@media (max-width: 645px) {
    .hero-title {
        /* margin-top: 8%; */
        font-size: 40.5px;
    }
}

@media (max-width: 500px) {
    .hero-title {
        /* margin-top: 0%; */
    }
}

.hero-text {
    color: #B5B5B5;
    font-size: 18px;
    width: 60%;
    margin-top: 1.8vh;
    line-height: 30px;
    align-self: center;
    margin-bottom: 35px;
}

@media (max-width: 1024px) {
    .hero-text {
        width: 80%;
    }
}

@media (max-width: 890px) {
    .hero-text {
        
        font-size: 15px;
        width: 50%;
    }
}

@media (max-width: 645px) {
    .hero-text {
        
        font-size: 13.5px;
        width: 80%;
    }
}

@media (max-width: 500px) {
    .hero-text {
        /* margin-top: 5%; */
        width: 100%;
    }
}

.hero-btn-group {
    margin-bottom: 22.5vh;
    text-align: center;
}

.course-summary {
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
    padding-top: 18.6vh;
    margin-top: -1px;
}

@media (max-width: 450px) {
    .course-summary {
        padding-top: 6.5vh;
    }
}

.course-summary .container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.course-summary .col {
    display: flex;
}

.course-summary .col.m {
    display: flex;
    flex-direction: column;
}

.course-summary .col.l {
    margin-left: 5vw;
}

.course-summary .col .rectangule {
    position: absolute;
    margin-top: -18.5vh;
    margin-left: -5.5vw;
    border: 1px solid #FEC024;
    border-top: none;
    width: 206px;
    height: 206px;
}

.course-summary .col .title {
    font-size: 64px;
    color: #FFFFFF;
    margin-top: -2vh;
}

@media (max-width: 450px) {
    .course-summary .col .rectangule {
        margin-top: -6.5vh;
        margin-left: 3.8vw;
        width: 110px;
        height: 110px;
    }

    .course-summary .col .title {
        font-size: 48px;
        margin-left: 24px;
        margin-top: 1vh;
    }
}

.course-summary .col .text {
    font-size: 18px;
    color: #B5B5B5;
    font-weight: 300;
    max-width: 337px;
    margin-top: 2.6vh;
}

@media (max-width: 450px) {
    .course-summary .col .text {
        font-size: 13.5px;
        max-width: 85%;
        line-height: 25px;
        align-self: center;
    }
}

.course-summary .col .btn-group {
    margin-top: 11vh;   
    margin-left: -15px;
}

.course-summary .btn-group.mobile {
    display: none;
    margin-top: 36px;
}

@media (max-width: 450px) {
    .course-summary .col .btn-group {
        display: none;
    }

    .course-summary .btn-group.mobile {
        display: inherit;
    }
}

.course-summary .col .btn-group .btn {
    font-size: 16px;
}

.course-summary .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 3vh;
}

@media(max-width: 650px) {
    .course-summary .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-left: -25px;
    }
}

@media(max-width: 450px) {
    .course-summary .card-container {
        margin-top: 50px;
    }
}

@media(max-width: 300px) {
    .course-summary .card-container {
        margin-left: -10px;
    }
}

.course-summary .card-item {
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    max-width: 253px;
}

.course-summary .card-item .container {
    text-align: center;
    margin: 24px;
    padding: 0;
}

.course-summary .card-item .card-description {
    text-align: left;
}

.course-summary .card-item .card-title {
    font-size: 14px;
    color: #F89D24;
    text-transform: uppercase;
    margin-top: 3.5vh;
}

.course-summary .card-item .card-text {
    font-size: 16px;
    color: #B5B5B5;
}

.take-course {
    background-color: #191919;
    background-image: url('../images/Grupo\ 34.svg');
    height: 400px;
    margin-top: -1px;
}

.take-course .container{
    background-color: rgba(20,20,20,0.7);
}

.take-course .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    flex-wrap: wrap;
}

.take-course .container .text {
    font-size: 54px;
    color: #FFFFFF;
    text-align: center;
    width: 60%;
    text-transform: capitalize;
}

@media(max-width: 800px) {
    .take-course .container .text {
        font-size: 48px;
    }
}

@media(max-width: 650px) {
    .take-course .container .text {
        font-size: 40.5px;
    }
}

@media(max-width: 536px) {
    .take-course .container .text {
        width: 85%;
        margin-top: 35px;
        margin-bottom: 35px;
    }
}

.take-course .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F89D24;
    width: 40%;
    min-width: 215px;
    padding-top: 53px;
    padding-bottom: 75px;
}

@media(max-width: 536px) {
    .take-course .container .card  {
        width: 100%;
    }
}

.take-course .container .card .btn {
    margin: 0;
    margin-top: 29px;
    padding-left: 48px;
    padding-right: 48px;
    font-size: 16px;
    color: #F89D24;
}

.take-course .container .card .text {
    font-weight: normal;
    font-size: 64px;
}

@media(max-width: 800px) {
    .take-course .container .card .text {
        font-size: 54px;
    }
}

@media(max-width: 650px) {
    .take-course .container .card .text {
        font-size: 48px;
    }
}

.course-skills {
    background-image: url('../images/teacher\ bnw.png');
    background-size: cover;
    background-position: bottom;
}

.course-skills .container {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 16.5vh 10vw;
}

.course-skills .container .menu {
    background-color: #686868;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: end;
    padding: 36px 70px;
}

.course-skills .container .items {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.course-skills .container .item {
    font-size: 32px;
    font-weight: 100;
    color: #FFFFFF;
}

.course-skills .container .item.active {
    font-weight: normal;
}

.course-skills .container .item.

.course-skills .container .description {
    background-color: #262626;
    flex: 1 1 100%;
    padding: 9.5vh 9vw;
}

.course-skills .container .description .text {
    font-size: 18px;
    font-weight: 300;
    color: #FFFFFF;
}

.course-skills .container .description .btn-group {
    text-align: right;
}

.course-skills .container .description .btn-group .btn {
    font-size: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0px 30px;
    margin-right: 0px;
}


.course-skills .container .description .btn-group .btn.btn.secondary {
    color: #F89D24;
} 