* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

.btn {
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 22px;
    margin: 0px 15px 24px 15px;
    font-weight: bold;
}

.btn.primary {
    background-color: #F89D24;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #FFF;
}

.btn.secondary {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
}

.hero-section {
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
}

.hero-header .logo {
    margin-left: 3.15%;
    margin-top: 2%;
    width: 12.1%;
    max-width: 100px;
}

.hero-container {
    position: relative;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1240px) {
    .hero-container {
        width: 60%;
    }
}

@media (max-width: 1028px) {
    .hero-container {
        width: 70%;
    }
}

@media (max-width: 890px) {
    .hero-container {
        width: 80%;
    }
}

.hero-title, .hero-text {
    color: #FFFFFF;
    text-align: center;
}

.hero-title {
    font-size: 54px;
    margin-top: 18.3%;
    text-transform: capitalize;
}

@media (max-width: 890px) {
    .hero-title {
        margin-top: 15%;
        font-size: 45px;
    }
}

@media (max-width: 645px) {
    .hero-title {
        font-size: 40.5px;
    }
}

.hero-text {
    color: #B5B5B5;
    font-size: 18px;
    width: 60%;
    margin-top: 2.6%;
    line-height: 30px;
}

.hero-btn-group {
    margin-top: 12.5%;
    text-align: center;
}