* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
}

.btn {
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px 22px;
    margin: 0px 15px 24px 15px;
    font-weight: bold;
}

@media (max-width: 1366px) {
    .btn {
        font-size: 16px;
    }
}

.btn.primary {
    background-color: #F89D24;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #FFF;
}

.btn.secondary {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
}

.hero-section {
    background: rgb(26,26,26);
    background: linear-gradient(45deg, rgba(26,26,26,1) 0%, rgba(44,44,44,1) 100%);
    min-height: 100vh;
    
}

.hero-header {
    padding: 3.51vh 3.14vw;
}

@media (max-width: 1150px) {
    .hero-header .logo {
        width: 80px;
    }
}

@media (max-width: 800px) {
    .hero-header .logo {
        width: 70px;
    }
}

@media (max-width: 360px) {
    .hero-header .logo {
        width: 36px;
    }
}

.hero-container {
    position: relative;
    text-align: center;
}

.hero-title {
    font-size: 68px;
    color: #FFF;
    letter-spacing: 1.13px;
    padding: 5px;
    text-transform: capitalize;
    margin: auto;
    margin-top: 5%;
    max-width: 1000px;
}

@media (max-width: 1366px) {
    .hero-title {
        font-size: 54px;
        max-width: 800px;
    }
}

@media (max-width: 800px) {
    .hero-title {
        font-size: 45px;
        
    }
}

@media (max-width: 510px) {
    .hero-title {
        font-size: 40px;
    }
}

@media (max-width: 360px) {
    .hero-title {
        font-size: 40.5px;
    }
}

@media (max-width: 250px) {
    .hero-title {
        font-size: 30px;
    }
}

.hero-subtitle {
    font-size: 22px;
    font-weight: 300;
    color: #B5B5B5;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 11.19vh;
    max-width: 500px;
}

}

.hero-btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-btn {
    font-size: 16px;
    text-transform: uppercase;
    padding: 18px 22px;
    margin: 0px 15px 24px 15px;
    font-weight: bold;
}